.button-container {
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: rgb(0, 119, 255);
    border: 2px solid white;
    margin: 4px;
    padding: 5px;
    flex: 1 1;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}

.button-container:hover {
    background-color: rgb(28, 62, 255);
}

.equals {
    background-color: rgb(0, 255, 81);
}

.operator {
    background-color: rgb(120, 62, 255);
}

.operator:hover {
    background-color: rgb(75, 0, 215);
}